vue-comp[id^="notification-v"] {
    display: none !important;
}

#saturn-banner {
    display: none;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    box-sizing: border-box;
    cursor: default;
}

#saturn-banner.warning { background-color: #ef9526; }
#saturn-banner.success { background-color: #23d160; }
#saturn-banner.error   { background-color: #ef263d; }
#saturn-banner.info    { background-color: #7b52ab; }

#saturn-banner a {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}
